.btn {

  &_create_account {
  position: absolute;
  width: 343px;
  height: 48px;
  left: 32px;
  top: 626px;
    
  border: none;
    
  /* 1 */
    
  background: #FFE600;
  }

  &_login {
  position: absolute;
  width: 343px;
  height: 48px;
  left: 32px;
  top: 626px;

  border: none;
    
  /* 1 */
    
  background: #FFE600;
  }
}




